params {
  max_cpus = 1
  max_memory = 8.GB
  max_time = 1.h

  human_genomes {
    'GRCh38' {
      ref_fasta = 'https://github.com/ampatchlab/test-datasets/raw/pdx/NA12878_C57BL_6NJ/reference/GRCh38.chr19.fa.gz'
      vep_cache = 'https://github.com/ampatchlab/test-datasets/raw/pdx/NA12878_C57BL_6NJ/annotation/homo_sapiens_vep_104_GRCh38.chr19.tar.gz'
    }
  }

  mouse_genomes {
    'GRCm39' {
      ref_fasta = 'https://github.com/ampatchlab/test-datasets/raw/pdx/NA12878_C57BL_6NJ/reference/GRCm39.chr19.fa.gz'
      vep_cache = 'https://github.com/ampatchlab/test-datasets/raw/pdx/NA12878_C57BL_6NJ/annotation/mus_musculus_vep_104_GRCm39.chr19.tar.gz'
    }
  }

  readgroup_csv = "${baseDir}/tests/NA12878_C57BL_6NJ-SE.csv"
  germline_csv = "${baseDir}/tests/NA12878_C57BL_6NJ-germline.csv"
  adapters = 'TruSeq'
}
