process {

  errorStrategy = {
    sleep( Math.pow( 2, task.attempt ) * 150 as long )
    return 'retry'
  }
  maxRetries = 3

  cpus = { max_cpus( 1 * task.attempt ) }
  memory = { max_memory( 1.GB * task.attempt ) }
  time = { max_time( 1.h * task.attempt ) }

  withName: 'bwa_index' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 16.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'bwa_mem' {
    cpus = { max_cpus( 16 ) }
    memory = { max_memory( 16.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'cutadapt' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'fastqc' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'mark_duplicates' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'bcftools_mpileup' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 2.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'bcftools_call' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'manta_somatic_wf' {
    cpus = { max_cpus( 8 ) }
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'mosdepth' {
    cpus = { max_cpus( 2 ) }
    memory = { max_memory( 6.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'multiqc' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'qualimap' {
    cpus = { max_cpus( 4 ) }
    memory = { max_memory( 64.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'samtools_merge' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'samtools_sort' {
    cpus = { max_cpus( 4 ) }
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'samtools_stats' {
    cpus = { max_cpus( 1 ) }
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'strelka_germline_wf' {
    cpus = { max_cpus( 8 ) }
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'strelka_somatic_wf' {
    cpus = { max_cpus( 8 ) }
    memory = { max_memory( 8.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'vep' {
    cpus = { max_cpus( 5 ) }
    memory = { max_memory( 12.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }
}

params {

  max_cpus = 16
  max_memory = 128.GB
  max_time = 200.h
}
