process {

  withLabel: 'biopython' {
    conda = 'biopython=1.76'
  }

  withLabel: 'bwakit' {
    conda = 'bwakit=0.7.17.dev1=0'
  }

  withLabel: 'bcftools' {
    conda = 'bcftools=1.11=h7c999a4_0'
  }

  withLabel: 'bedops' {
    conda = 'bedops=2.4.36=h6bb024c_1'
  }

  withLabel: 'coreutils' {
    conda = 'coreutils=8.25=1'
  }

  withLabel: 'cutadapt' {
    conda = 'cutadapt=2.10=py37h516909a_0'
  }

  withLabel: 'ensembl_vep' {
    conda = 'ensembl-vep=101.0=pl526hecda079_0'
  }

  withLabel: 'fastqc' {
    conda = 'fastqc=0.11.8=1'
  }

  withLabel: 'manta' {
    conda = 'manta=1.60=py27_0'
  }

  withLabel: 'mosdepth' {
    conda = 'mosdepth=0.3.1=ha7ba039_0'
  }

  withLabel: 'multiqc' {
    conda = 'multiqc=1.9=pyh9f0ad1d_0'
  }

  withLabel: 'picard' {
    conda = 'picard=2.20.2=0'
  }

  withLabel: 'pysam' {
    conda = 'pysam=0.16.0.1=py37hc334e0b_1'
  }

  withLabel: 'qualimap' {
    conda = 'qualimap=2.2.2d=1'
  }

  withLabel: 'samtools' {
    conda = 'samtools=1.11=h6270b1f_0'
  }

  withLabel: 'strelka' {
    conda = 'strelka=2.9.10=0'
  }
}
