process {

  withLabel: 'biopython' {
    conda = 'biopython=1.76'
  }

  withLabel: 'bwakit' {
    conda = 'bwakit=0.7.15=3'
  }

  withLabel: 'cutadapt' {
    conda = 'cutadapt=2.10=py37h516909a_0'
  }

  withLabel: 'fastqc' {
    conda = 'fastqc=0.11.8=1'
  }

  withLabel: 'multiqc' {
    conda = 'multiqc=1.9=pyh9f0ad1d_0'
  }

  withLabel: 'picard' {
    conda = 'picard=2.20.2=0'
  }

  withLabel: 'samtools' {
    conda = 'samtools=1.10=h9402c20_2'
  }
}
