process {

  container = 'ubuntu:20.04'

  withLabel: 'biopython' {
    container = 'quay.io/biocontainers/biopython:1.76'
  }

  withLabel: 'bwakit' {
    container = 'quay.io/biocontainers/bwakit:0.7.17.dev1--0'
  }

  withLabel: 'bcftools' {
    container = 'quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
  }

  withLabel: 'bedops' {
    container = 'quay.io/biocontainers/bedops:2.4.36--h6bb024c_1'
  }

  withLabel: 'coreutils' {
    container = 'quay.io/biocontainers/coreutils:8.25--1'
  }

  withLabel: 'cutadapt' {
    container = 'quay.io/biocontainers/cutadapt:3.4--py39h38f01e4_1'
  }

  withLabel: 'ensembl_vep' {
    container = 'quay.io/biocontainers/ensembl-vep:104.3--pl5262h4a94de4_0'
  }

  withLabel: 'fastqc' {
    container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'
  }

  withLabel: 'manta' {
    container = 'quay.io/biocontainers/manta:1.6.0--py27_0'
  }

  withLabel: 'mosdepth' {
    container = 'quay.io/biocontainers/mosdepth:0.3.1--ha7ba039_0'
  }

  withLabel: 'multiqc' {
    container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
  }

  withLabel: 'picard' {
    container = 'quay.io/biocontainers/picard:2.25.6--hdfd78af_0'
  }

  withLabel: 'pysam' {
    container = 'quay.io/biocontainers/pysam:0.16.0.1--py37hc334e0b_1'
  }

  withLabel: 'qualimap' {
    container = 'quay.io/biocontainers/qualimap:2.2.2d--1'
  }

  withLabel: 'samtools' {
    container = 'quay.io/biocontainers/samtools:1.13--h8c37831_0'
  }

  withLabel: 'strelka' {
    container = 'quay.io/biocontainers/strelka:2.9.10--0'
  }

  withLabel: 'vcf2maf' {
    container = 'quay.io/biocontainers/vcf2maf:1.6.21--hdfd78af_0'
  }
}
