process {

  container = 'ubuntu:18.04'

  withLabel: 'biopython' {
    container = 'quay.io/biocontainers/biopython:1.76'
  }

  withLabel: 'bwakit' {
    container = 'quay.io/biocontainers/bwakit:0.7.15--3'
  }

  withLabel: 'cutadapt' {
    container = 'quay.io/biocontainers/cutadapt:2.10--py37h516909a_0'
  }

  withLabel: 'fastqc' {
    container = 'quay.io/biocontainers/fastqc:0.11.8--1'
  }

  withLabel: 'multiqc' {
    container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
  }

  withLabel: 'picard' {
    container = 'quay.io/biocontainers/picard:2.20.2--0'
  }

  withLabel: 'samtools' {
    container = 'quay.io/biocontainers/samtools:1.10--h9402c20_2'
  }
}
