params {

    adapters = 'TruSeq'

    // cutadapt params
    min_read_length = 20
    base_qual_cutoff = 20

    // mpileup params
    mpileup_max_depth = 250
    mpileup_min_MQ = 20
    mpileup_min_BQ = 20
    mpileup_gap_frac = 0.002
    mpileup_tandem_qual = 100
    mpileup_min_ireads = 1

    // variant calling filters
    exclude_filters = [
      'LOW_QUAL': 'QUAL<10',
      'LOW_DP': 'FORMAT/DP<10',
      'LOW_GQ': 'FORMAT/GQ<15',

      'BQ_BIAS': 'ABS(INFO/BQBZ)>5',
      'MQ_BIAS': 'ABS(INFO/MQBZ)>10',
      'MQS_BIAS': 'ABS(INFO/MQSBZ)>5',
      'RP_BIAS': 'ABS(INFO/RPBZ)>5',
      'SC_BIAS': 'ABS(INFO/SCBZ)>5',
    ]
}
