executor{

  jobName = { task.process.tokenize(':').last() }

  queueSize = 1000
  killBatchSize = 1000
}

process {

  executor = 'pbspro'
  cache = 'lenient'

  beforeScript = 'module load miniconda3/current singularity/3.7.1'
}

params {

  human_genomes {
    'GRCh38' {
      ref_fasta = '/working/genomeinfo/share/indexed_vep_cache/101/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
      vep_cache = '/working/genomeinfo/share/indexed_vep_cache/101/homo_sapiens_vep_101_GRCh38.tar.gz'
    }
  }

  mouse_genomes {
    'GRCm38' {
      ref_fasta = '/working/genomeinfo/share/indexed_vep_cache/101/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz'
      vep_cache = '/working/genomeinfo/share/indexed_vep_cache/101/mus_musculus_vep_101_GRCm38.tar.gz'
    }
  }
}

conda {

  cacheDir = '/working/genomeinfo/share/containers/conda'
  createTimeout = 1.h
}

singularity {

  cacheDir = '/working/genomeinfo/share/containers/singularity'
}
